
.~lock.knowhow_ERP_MIS_proposal.odt#

.~lock.knowhowERP_OLAP.odt#

latex/seminar.aux

.~lock.knowhowERP_OLAP_blog_style.odt#

brzistart.zip

latex/seminar.bbl

latex/seminar.blg

latex/seminar.dvi

latex/seminar.log

latex/seminar.pdf

latex/seminar.toc
.~*